body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #0D0D0D;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.header h1{
    text-decoration: underline
}

.container{
    margin: auto;
    margin-top: 50px;
    background-color: #f3eabc;
    border-left: #F25E5E solid 10px;
    min-height: 80vh;
    width: 600px;
    border-radius: 10px;
}

.container .task{
    border: #0D0D0D solid 1px;
    border-left: none;
    border-right: none;
}

.container .task .newTask{
    background: transparent;
    border: none;
}

.container .task .newTask:focus {
    outline: none;
}

.container li{
    border-bottom: #0D0D0D solid 1px;
    font-weight: 500;
    margin-left: -40px;
    font-size: 1rem;
}

button{
    background: transparent;
    border: none;
    color: red;
    font-weight: 700;
}

.add{
    color: green;
}

input[type="checkbox" i] {
    background-color: transparent;
    border: none;
}

li.completed span {
    text-decoration: line-through;
    transition: text-decoration 0.3s ease;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(180deg, #0D0D0D 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
}